#preloader_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999999;
    background: #10151c;
    justify-content: center;
    align-items: center;
    display: flex;
}