#wallet-page{
    table {
        td, th{
            text-align: center;
        }
    }

    img.icon{
        width: 30px;
        &+span{
           
            width: 80px;
            display: inline-block;
            text-align: right;
            padding-right: 8px;
            white-space: nowrap;
        
        }
    }
}

