.chart-selector .widget-card{
    cursor: pointer;
    &.active{
        border: 1px solid #54824d;
    }
}

div.modal-dialog.modal-90w{
    width: 90% ;
    max-width :unset
}
div.modal-dialog.modal-100w{
    width: 100% ;
    max-width :unset
}
div.modal .close{
    background: none;
    border: none;
    font-size: 32px;
}
div.modal-content.dark{
    & > div{
        background: $body-bg;
    }
}
div.modal-content .close{
    color:white;
}
button.btn-simple{
    border: none;
    background: none;
}
.Toastify{
    z-index: 1051;
}
#S404{
   h2{font-size: 50px;}
   a{
       font-size: 27px;
       margin-top: 32px;
       color: green;
   }
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100vw;
   position: fixed;
   top: 0;
   right: 0;
   height: 100vh;
}
.conditionalList{
    padding-right: 16px;
    &, &>li{
        list-style-type: disc;
    }
    li{
        padding:8px 0px;
    }

}
.cursor-pointer{
    cursor: pointer;
}

.spin, .spin::before{
    animation: spin 2s forwards infinite;
    display: inline-block;
}

.transaction-table{
    font-size: 0.9rem;
    th{
        white-space: nowrap;
    }
    td.show{
        cursor: pointer;
    }
}

.border-gray{
    border-color: #3d4d57;
}
.btn-crimson{
    background:linear-gradient(160deg, crimson, #dd3557);
    color: white;
}
.upload-images-submitter{
    position: relative;
}

.upload-images-submitter.disabled:hover::after{
    content: attr(alt);
    position: absolute;
    right: 6px;
    font-size: 13px;
    top: -20px;
}
.fs-13{
    font-size: 13px !important;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}



@media (max-width: 768px){
    .convert-details{
        font-size: 14px;
    }
    div#main-wrapper {
        margin-top: 0;
    }
    div.content-body{
        padding-top: 115px;
    }
    
}
@media (max-width: 400px){
    .convert-details{
        font-size: 14px;
    }
}
