.chart-selector .widget-card{
    cursor: pointer;
    &.active{
        border: 1px solid #54824d;
    }
}

div.modal-dialog.modal-90w{
    width: 90% ;
    max-width :unset
}
div.modal .close{
    background: none;
    border: none;
    font-size: 32px;
}
div.modal-content.dark{
    & > div{
        background: $body-bg;
    }
}
div.modal-content .close{
    color:white;
}
button.btn-simple{
    border: none;
    background: none;
}