.chart-selector .widget-card{
    cursor: pointer;
    &.active{
        border: 1px solid #54824d;
    }
}

div.modal-dialog.modal-90w{
    width: 90% ;
    max-width :unset
}
div.modal .close{
    background: none;
    border: none;
    font-size: 32px;
}
div.modal-content.dark{
    & > div{
        background: $body-bg;
    }
}
div.modal-content .close{
    color:white;
}
button.btn-simple{
    border: none;
    background: none;
}
.Toastify{
    z-index: 1051;
}
#S404{
   h2{font-size: 50px;}
   a{
       font-size: 27px;
       margin-top: 32px;
       color: green;
   }
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100vw;
   position: fixed;
   top: 0;
   right: 0;
   height: 100vh;


}


